<%- include('./templates/head.ejs'); %>
    <%- include('./templates/nav.ejs'); %>

	<figure class="text-center">
		<blockquote class="blockquote">
		  <p>ACERCA DE MI</p>
		</blockquote>
		<figcaption class="blockquote-footer">
		  Algo de informacion <cite title="Source Title">acerca de mi</cite>
		</figcaption>
	  </figure>

	  <div class="container">
		<div class="row">
		  <div class="col-sm">
			<div class="text-center">
				<br>
				<img src="https://definicion.de/wp-content/uploads/2019/06/perfildeusuario.jpg" class="rounded" alt="imagen de perfil">
			  </div>
		  </div>
		  <div class="col-sm">
			<h3>Logros en la carrera</h3>
		 	<p>Desde que ingrese a la glorioso UPTC me esforce por lograr una beca inicialmente intente la matricula de honor en primer semestre, despues cuando se dio la oportunidad y contaba con los conocimientos suficientes para ser monitor de programacion, me presente a la convocatoria de programacion basica y para la cual quede monitor en el año 2020 en el mes de  febrero. Actualmente llevo  3 semestres  desempeñando dicho cargo o beca.</p>
		  </div>		
		</div>
	  </div>
	  

	<%- include('./templates/footer.ejs'); %>