<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./templates/head.ejs'); %>
</head>

<body>
    <div class="container">
        <%- include('./templates/nav.ejs'); %>


            <div class="container">
                <%- include('./templates/table.ejs'); %>
            </div>
    </div>

    <%- include('./templates/footer.ejs'); %>
</body>

</html>