<footer class="fixed-bottom" style="background-color: gainsboro;">
    <div class="container text-center">
        <a href='https://www.facebook.com/johnfredy.paipalara/' class="btn btn-outline-primary" target="_black"><i class='bx bxl-facebook'></i></a>
        <small class="text-dark"> Electiva II - John Fredy Paipa Lara</small>
         
    </div>       

</footer>